body{
	margin-left:15%;
}

@media screen and (max-width:1000px) { 
	body{
		margin-left:0;
	}
}

.center{
	text-align: center;
}

.left{
	text-align: left;;
}

.pad1em{
	padding-left:1em;
	padding-right:1em;
}

.bodyfull{
	width:95%;
}

.yokonarabi{
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}

.kuuhaku100{
	width: 100px;
}

iframe.iframe_kotei{
	display: flex;
	position: fixed;
	padding: 10px;
	background: #fff;
}

.anchor{
	display: block;
	padding-top: 70px;
	margin-top: -70px;
}
