.contents{
	display: flex;
	max-width: 1100px;
	margin-top: -10px;
	margin-bottom: -10px;
}

nav{
	flex: 0 0 150px;
	position: -webkit-sticky;
	position: sticky;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
	align-self: baseline;
	top: 0;
}


@media screen and (max-width:1000px) { 
	nav{
		position: fixed;
		background-color: white;
		z-index: 10;
	}

	nav ul{
		display:flex;
	}
	
	nav ul li{
		margin-right:10px;
	}
	
	section{
		margin-top: 100px;
	}
}

nav ul li a{
	font-size: large;
}

nav ul{
	list-style-type: none;
	text-align-last: justify;
	text-align: justify;
	text-justify: inter-ideograph;
	padding-left: 0px;
}

section{
}

article{
	min-width: 500px;
	margin: 0 auto;
}

header{
	position: fixed;
	top: 0;
	right:0;
	padding: 10px;
}

footer{
	position: fixed;
	bottom: 0;
	left:10;
}

pre.overx{
	white-space: pre-wrap ;
	background:#f0f0f0;;
	width: 100vh;
}

ul.tb00{
	margin-top: 0;
	margin-bottom: 0;
}

ul.disc{
	list-style-type: disc;
}

li.none{
	list-style-type: none;
}

li.disc{
	list-style-type: disc;
}

li.circle{
	list-style-type: circle;
}

li.square{
	list-style-type: square;
}

h3.bottom0{
	margin-bottom: 0;
}

span.me{
	color:red;
	font-weight: bold;
}

span.mgright{
	color: green;
	margin-right: 0.5em;
}

span.mwhite{
	color:white;
}
